@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@700&display=swap");


:root {
	--primary-color: #ffffff;
	--secondary-color: #fdb827;
	--tertiary-color: #542583;
	--fourthiary-color: #000000;
	--fifthiary-color: #aaaaaa;
	--correct-color: greenyellow;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Wix Madefor Display", sans-serif;
}

.container {
	user-select: none;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: #1d1c1c;
}

.difficulties {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 2.5rem;
}

img {
	position: absolute;
	margin: 16px;
	width: 48px;
	top: 0;
	left: 0;
}

.btn-dif {
	background-color: var(--primary-color);
	border-radius: 0px 10px 10px 0px;
	font-size: 2rem;
	cursor: pointer;
	color: var(--tertiary-color);
	border: 4px solid var(--secondary-color);
	border-left: none;
	width: 16rem;
	transition: all 0.3s;
}

.btn-dif:hover {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

.active {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
	cursor: auto;
	transform: scale(1.1);
}

.game-container {
	width: 100%;
	display: flex;
	flex-direction: column;

}

.grilla {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 50rem;
	height: 35rem;
	gap: 8px;
	border-radius: 16px;
	background-color: var(--secondary-color);
	padding: 12px;
	box-shadow: 0px 0px 10px 2px #542583 inset;
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	font-size: 5rem;
	background-color: transparent;
	cursor: pointer;
	animation: fadeIn 0.5s;
}

.card div {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 16px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
	transition: all 0.5s;
}

.card div span {
	color: var(--secondary-color);
}

.card .front {
	background-color: var(--secondary-color);
	border: 4px solid var(--tertiary-color);
	transform: perspective(500px) rotateY(180deg);
}

.card .back {
	background-color: var(--tertiary-color);
	transform: perspective(500px) rotateY(0deg);
}

.card.flipped .back {
	transform: perspective(500px) rotateY(180deg);
}

.card.flipped .front {
	transform: perspective(500px) rotateY(360deg);
}

.game-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	height: 4rem;

}

.game-btns button {
	border: 2px var(--secondary-color) solid;
	background-color: var(--tertiary-color);
	padding: 6px;
	border-radius: 10px;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 1rem;
	transition: all 0.3s;
}

.game-btns button:hover {
	color: var(--secondary-color);
}

.winner {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgba(153, 205, 50, 0.8);
	color: green;
	font-size: 3rem;
	z-index: 1;
	display: none;
	justify-content: center;
	align-items: center;
	animation-duration: 1s;
}

.markers-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}

.fails {
	background-color: var(--primary-color);
	border-radius: 10px 0px 0px 10px;
	width: 16rem;
	text-align: center;
	font-size: 2rem;
	border: 4px solid rgb(249, 67, 67);
	border-right: none;
	color: rgb(249, 67, 67);
}

/* ANIMATIONS */

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/*Responsive*/

@media screen and (max-width: 1400px) {
	html{
		font-size: 15px;
	}
}

@media screen and (max-width: 1300px) {
	html{
		font-size: 14px;
	}
}

@media screen and (max-width: 1200px) {
	html{
		font-size: 13px;
	}
}

@media screen and (max-width: 1100px) {
	html{
		font-size: 12px;
	}
}

@media screen and (max-width: 1100px) {
	html{
		font-size: 11px;
	}
}

@media screen and (max-width: 1000px) {
	html{
		font-size: 10px;
	}
}

@media screen and (max-width: 900px) {
	html{
		font-size: 9px;
	}
}

@media screen and (max-width: 800px) {
	html{
		font-size: 8px;
	}

	.game-btns{
		padding: 20px 0px;
	}
}

@media screen and (max-width: 700px) {
	html{
		font-size: 7px;
	}
}

@media screen and (max-width: 600px){
	.container{
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
	}

	.difficulties{
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0px;
		border-radius: 0px;
		border: 2px;
		height: 100%;
	}

	.btn-dif{
		border-radius: 0px;
		border: 4px solid var(--secondary-color);
	}
	
	#easy{
		border-radius: 10px 0px 0px 10px;
	}
	#hard {
		border-radius: 0px 10px 10px 0px;
	}
	.grilla{
		align-self: center;
	}

	.markers-container{
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.fails{
		border: 4px solid rgb(249, 67, 67);
		border-radius: 10px;
	}
}

@media screen and (max-width: 400px) {
	html{
		font-size: 6px;
	}
}

@media screen and (max-width: 300px) {
	.difficulties img{
		display: none;
	}

	html{
		font-size: 5px;
	}
}